.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.navbar-ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    height: 5px;
}

.navbar-link {
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-text {
    color: white;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}
