.header-menu {
    margin-bottom: 10px;
}

.search-container {
    background-color: white;
    width: 500px;
    border-radius: 30px 30px 30px 30px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    z-index: 999;
}

.search-container:focus-within {
    border-radius: 20px 20px 0 0;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
}

input:focus {
    outline: none;
}

.dropdown-text {
    color: black;
    margin-left: 15px;
    font-size: 1.4rem;
    text-decoration: none;
}

.dropdown-text:hover {
    color: blue;
}


.dropdown-search {
    background-color: white;
    width: 500px;
    margin-left: -15px;
    padding-bottom: 35px;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 2px 6px 0px #ddd;
}

.dropdown-item {
    background-color: transparent;
    margin-left: 15px;
    width: 100%;
}

.dropdown-subtext {
    display: flex;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.dropdown-subtext a {
    all: unset;
}

.search-bar {
    padding-top: 7px;
    display: flex;
}

.search-bar i {
    padding-top: 5px;
    color: green;
}

.dropdown-menu {
    display: flex;
}

.under-text {
    padding-top: 10px;
}

.under-text a {
    text-decoration: none;
    color: #222;
    font-size: .8rem;
}

.under-text a:hover {
    color: purple;
}

.footer-bg {
    background-color: #fff;
    box-shadow: 0px 0 122px 10px #ddd;
    height: 50px;
}

.text-nav {
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: 400;
}

.ml-10 {
    margin-left: 10px;
}


.menu-icon {
    padding-right: 5px;
}

.menu-item a {
    text-decoration: none;
    color: #222;
    font-size: .82rem;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}