.justify-content-space-around {
    display: flex;
    justify-content: space-around;
}

.filter-criteria-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

}