.box-shadow {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px #ddd;
  border: solid;
  border-color: #eee;
  border-width: 1px;
}

/* HomePage.css */
.home-homepage {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.home-header {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-plant-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.home-plant-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.home-plant-card:hover {
  transform: translateY(-15px);
  cursor: pointer;
}

.home-plant-image {
  max-width: 100%;
  height: 300px;
  /* Set the desired fixed height */
  object-fit: cover;
  /* Maintain aspect ratio and cover the entire container */
  border-radius: 5px;
}

.home-plant-name {
  font-size: 24px;
  margin-top: 10px;
}

.home-latin-name {
  color: #666;
}

.home-sketches {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.home-sketch {
  max-width: 100px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}