.gallery-plant-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 20px;
    padding: 2em;
}

.gallery-plant-image {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}