.information-box-shadow {
    margin-top: 40px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px  #ddd;
    border: solid;
    border-color: #eee;
    border-width: 1px;
}

.info-text-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.info-text-subtitle {
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.info-text-body {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

